.style3 {
    font-size: 18px
}

.style4 {
    font-size: 26px
}

.style5 {
    font-size: 10vw;
    font-weight: 5vw;
    font-family: cursive;
    align-content: center
}

.style6 {
    font-size: 26px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif
}

.style7 {
    color: #03C
}

#about {
    padding-top: 2em;
    position: relative;
    align-self: center;
    text-align: center;
    width: 80%;
    background-color: black
}

#team {
    position: relative;
    width: 80%;
    align-self: center;
    align-content: center;
    text-align: center;
    align-items: center
}

.picgrid {
    min-height: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px
}

@media screen and (max-width:600px) {
    .picgrid {
        flex: 100%;
        max-width: 100%
    }
}

#details {
    position: relative;
    width: 80%;
    align-self: center;
    align-content: center;
    text-align: center
}

/*
.divider {
    border-color: rgba(0, 0, 0, .9)
}
*/

div.gallery {

    float: center;
    width: 100%;
    align-content: center;
    align-self: center;
    align-items: center;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 20px 75px
}

div.desc {
    width: auto;
    padding-top: 15px;
    padding-left: 0;
    padding-bottom: 15px;
    padding-right: 0;
    text-align: center;
    word-wrap: break-word;
    font-size: 1rem
}

#sponsor {
    width: 80%;
    align-content: center;
    align-items: center;
    text-align: center
}

#maplink {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: wavy
}

#maplink:hover {
    color: white;
    text-decoration: none
}

#title {
    align-self: center;
    align-content: center;
    text-align: center
}

#buttons {
    align-self: center;
    align-content: center;
    text-align: center
}

@keyframes catcheye {
    from {
        color: dodgerblue
    }

    to {
        color: yellow
    }
}

@-webkit-keyframes catcheye {
    from {
        color: cornflowerblue
    }

    to {
        color: yellow
    }
}

#animate {
    width: auto;
    height: auto;
    color: dodgerblue;
    animation-name: catcheye;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    -webkit-animation-name: catcheye;
    -webkit-animation-duration: 2s
}

@keyframes prizeani {
    from {
        color: red
    }

    to {
        color: yellow
    }
}

@-webkit-keyframes prizeani {
    from {
        color: red
    }

    to {
        color: yellow
    }
}

#prize {
    width: auto;
    height: auto;
    color: red;
    animation-name: prizeani;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    -webkit-animation-name: prizeani;
    -webkit-animation-duration: 2s
}
